/* General sidebar styles */
.burgerMenu {
  background-color: #FA6FD0;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Position and sizing of burger button */
.burgerButton {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.burgerBars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.crossButton {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.cross {
  background: #bdc3c7;
}

.menuHeader {
  font-size: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.itemList {
  font-size: 1.75em;
}

