.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #74E192;
  width: 100vw;
  height: 50px;
  padding: 5px
}

.homeLink {
  font-weight: 700;
  font-size: 20px;
  opacity: 100;
}

.homeLinkContainer {
  border-bottom: .1em double white;
  height: 100%;
  display: flex;
  align-items: center;
}

.mainMenu {
  width: 10vw;
  padding-top: 2em;
  padding-left: 1em;
  background-color: #FA6FD0;
}

.button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.button svg {
  fill: #4e4a46;
}

.itemList {
  font-size: 1.75em;
}

.header {
  font-size: 2em;
  margin-bottom: 2em;
  text-align: center;
}
